<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 상세보기</title>
</head>
<body>
<a href="{% url 'post:list' page=page %}">목록 보기</a>
<a href="{% url 'post:write' page=page %}">글 작성하기</a>
<a href="{% url 'post:update' post_id=post.id page=page %}">글 수정하기</a>
<a href="{% url 'post:delete' post_id=post.id %}">글 삭제하기</a>
<table border="1">
    <tr>
        <th>제목</th>
        <th>내용</th>
        <th>작성자</th>
    </tr>
    <tr>
        <td>{{ post.post_title }}</td>
        <td>{{ post.post_content }}</td>
        <td>{{ post.member.member_name }}</td>
    </tr>
</table>
</body>
</html>